<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Course</title>
</head>
<body>
<h1>Update Course</h1>

<form th:action="@{/courses/update/{courseID}(courseID=${course.courseID})}" th:object="${course}" method="post">
  <label for="name">Course Name:</label>
  <input type="text" id="name" th:field="*{courseName}" required>

  <br><br>

  <label for="duration">Duration:</label>
  <input type="number" id="duration" th:field="*{duration}" required>
  <br><br>

  <label for="department">Department:</label>
  <select id="department" th:field="*{department}" required>
    <option th:each="department : ${departments}"
            th:value="${department.id}"
            th:text="${department.name}"
            th:selected="${department.id == course.department.id}"></option>
  </select>

  <br><br>

  <button type="submit">Update Course</button>
</form>


<br>
<a href="/courses">Back to Courses List</a>
</body>
</html>
