<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Faculty</title>
</head>
<body>

<div th:replace="layout/base.html">
    <div th:fragment="content">

        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <strong class="card-title">Edit Faculty</strong>
                </div>
                <div class="card-body">
                    <form class="needs-validation"
                          th:action="@{/faculty/update/{id}(id=${faculty.facultyId})}"
                          th:object="${faculty}" method="post" novalidate>

                        <input type="hidden" th:field="*{facultyId}"/>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="facultyDesignation">Designation</label>
                                <input type="text" class="form-control" id="facultyDesignation"
                                       th:field="*{designation}" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="facultyQualification">Qualification</label>
                                <input type="text" class="form-control" id="facultyQualification"
                                       th:field="*{qualification}" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="facultyExperience">Experience (Years)</label>
                                <input type="number" class="form-control" id="facultyExperience"
                                       th:field="*{experience}" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="facultyPhone">Phone Number</label>
                                <input type="text" class="form-control" id="facultyPhone" th:field="*{phoneNumber}"
                                       required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-8 mb-3">
                                <label for="facultyEmail">Email</label>
                                <input type="email" class="form-control" id="facultyEmail" th:field="*{email}" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="facultyStatus">Status</label>
                                <select id="facultyStatus" class="form-control" th:field="*{status}" required>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-8">
                                <label for="facultyDepartment">Department:</label>
                                <select id="facultyDepartment" class="form-control" name="department" required>
                                    <option th:each="department : ${departments}"
                                            th:value="${department.id}"
                                            th:text="${department.name}"
                                            th:selected="${faculty.department.id == department.id}"></option>
                                </select>
                            </div>
                        </div>

                        <button class="btn btn-primary mt-3" type="submit">Update Faculty</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

</body>
</html>
