<header th:fragment="header">
    <h1>My Website</h1>
    <nav>
        <ul>

            <li><a th:href="@{/admin/departments}">Manage Departments</a></li>
            <li><a th:href="@{/admin/courses}">Manage Courses</a></li>
            <li><a th:href="@{/admin/subjects}">Manage Subjects</a></li>
            <li><a th:href="@{/admin/roles}">Manage Roles</a></li>
            <li><a th:href="@{/students/add}">Student Register</a></li>
            <li><a th:href="@{/students/subject-enrollment}">Student Subject Enrollment</a></li>
            <li><a th:href="@{/faculty/add}">Faculty Register</a></li>
            <li><a th:href="@{/faculty-subject/assign-subject}">Faculty Subject Assign</a></li>
            <li><a th:href="@{/semesters}">Manage Semesters</a></li>
            <li><a th:href="@{/admin/users}">Manage Users</a></li>
            <li><a th:href="@{/leave-requests/user/3/view}">Manage leave-requests</a></li>
            <li><a th:href="@{/admin/settings}">Settings</a></li>
        </ul>
    </nav>
</header>

