<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Add Course'">Custom Page Title</title>
</head>
<body>

<!-- Replace the content section -->
<div th:replace="layout/base.html">
    <div th:fragment="content">
        <h1>Add Course</h1>
        <form th:action="@{/admin/courses/add}" th:object="${course}" method="post">
            <!-- Course Name -->
            <label for="courseName">Course Name:</label>
            <input type="text" id="courseName" th:field="*{courseName}" required>

            <br><br>

            <!-- Duration -->
            <label for="duration">Duration (years):</label>
            <input type="number" id="duration" th:field="*{duration}" required>

            <br><br>

            <!-- Department -->
            <label for="departmentModel">Department:</label>
            <select id="departmentModel" th:field="*{department}" required>
                <option th:each="departmentModel : ${departments}" th:value="${departmentModel.id}"
                        th:text="${departmentModel.name}"></option>
            </select>

            <br><br>

            <!-- Submit Button -->
            <button type="submit">Add Course</button>
        </form>

    </div>
</div>

</body>
</html>
