<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Add Course'">Add Course</title>
</head>
<body>

<!-- Replace the content section -->
<div th:replace="layout/base.html">
    <div th:fragment="content">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <strong class="card-title">Add Course</strong>
                </div>
                <div class="card-body">
                    <form class="needs-validation" th:action="@{/admin/courses/add}" th:object="${course}" method="post"
                          novalidate>
                        <div class="form-row">
                            <div class="col-md-8">
                                <label for="validationCustom01">Course Name:</label>
                                <input type="text" class="form-control" id="validationCustom01" th:field="*{courseName}"
                                       required>
                                <div class="valid-feedback"> Looks good!</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8">
                                <label for="validationCustom03">Duration (years):</label>
                                <input type="number" class="form-control" id="validationCustom03" th:field="*{duration}"
                                       required>
                                <div class="invalid-feedback"> Please provide a valid city.</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8">
                                <label for="inputState">Department:</label>
                                <select id="inputState" class="form-control" th:field="*{department}">
                                    <option th:each="departmentModel : ${departments}" th:value="${departmentModel.id}"
                                            th:text="${departmentModel.name}"></option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Add Course</button>
                    </form>
                </div> <!-- /.card-body -->
            </div> <!-- /.card -->
        </div> <!-- /.col -->
    </div>
</div>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
