<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Custom Page Title'">Custom Page Title</title>
<!--    <link rel="stylesheet" type="text/css" href="/css/styles.css">-->
</head>
<body>

<!-- Replace the content section -->
<div th:replace="layout/base.html">
    <div th:fragment="content">
        <main>
            <form th:action="@{/semesters/add}"  th:object="${semester}" method="post">
                <label for="course">Course:</label>
                <select name="courseId" id="course">
                    <th:block th:each="course : ${courses}">
                        <option th:value="${course.courseID}" th:text="${course.courseName}"></option>
                    </th:block>
                </select>

                <label for="semesterName">Semester Name:</label>
                <input type="text" name="semesterName" id="semesterName" th:field="*{name}"  required>

                <label for="academicYear">Academic Year:</label>
                <input type="number" name="academicYear" id="academicYear" th:field="*{academicYear}"  required>

                <label for="startDate">Start Date:</label>
                <input type="date" name="startDate" id="startDate" th:field="*{startDate}" required>

                <label for="endDate">End Date:</label>
                <input type="date" name="endDate" id="endDate" th:field="*{endDate}" required>

                <button type="submit">Create Semester</button>
            </form>

        </main>
    </div>
</div>

</body>
</html>
