<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Semester List'">Semester List</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Admin Dashboard'">Courses</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<!-- Replace the content section -->
<div th:replace="layout/base.html">
    <div th:fragment="content">
        <h2 class="mb-2 page-title">Semesters List</h2>
        <!-- Button to go to Add Semester form -->
        <a href="/semesters/add">Add Semester</a>

        <p class="card-text">DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool,
            built upon the foundations of progressive enhancement, that adds all of these advanced features to any HTML
            table. </p>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- table -->
                        <table class="table datatables" id="dataTable-1">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Semester Name</th>
                                <th>Academic Year</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Course Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="semester : ${semesterDetails}">
                                <tr>
                                    <td th:text="${semester.id}"></td>
                                    <td th:text="${semester.name}"></td>
                                    <td th:text="${semester.academicYear}"></td>
                                    <td th:text="${semester.startDate}"></td>
                                    <td th:text="${semester.endDate}"></td>
                                    <td th:text="${semester.courseName}"></td>
                                    <td>
                                        <a th:href="@{/semesters/create-division-page(semesterId=${semester.id})}">
                                            <button class="btn btn-primary btn-sm">Show and Create Division</button>
                                        </a>
                                        <a th:href="@{/enrollments/assign-students-to-division/{semesterId}(semesterId=${semester.id})}">
                                            <button class="btn btn-success btn-sm">Assign Students to Division</button>
                                        </a>
                                        <a th:href="@{/admin/faculty-subject/assign-subject}">
                                            <button class="btn btn-warning btn-sm">Assign Subjects to Faculty</button>
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#dataTable-1').DataTable(
        {
            autoWidth: true,
        });
</script>
</body>